* {
    box-sizing: border-box;
    /* border: 1px solid red; */
} 

/* General Styles ------------- */

body {
    font-family: 'Open Sans', arial, sans-serif;
    color: #696969;
    background: rgb(243, 243, 243);
    margin-top: 0;
}

h1, h2, h3 {
    font-family: 'Noto Sans', 'Open Sans', sans-serif;
}

h1 {
    color: #484848;
    padding: 0 0 .6em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
} 

h2, h3 {
    color: #606060;
}

h3 {
    padding-top: 1em;
}

/* Header section ----------------*/

.primary-header {
    margin: auto; 
    text-align: center;
    padding: 1em;
}

.primary-header p {
    font-size: 1.25em;
}

.profile-img {
    padding: 4em 0 1em;
    width: 100%;
}

.top-nav a {
    display: block;
    padding: 1em;
    background-color: #fcfcfc;
    margin: .25em 0;
    text-transform: uppercase;
    font-weight: 700;
}

/* nav a:last-child {
    margin-bottom: .8em;
} */

/* Main Content -----------------*/

.main-content {
    padding: .5em;
    background-color: #fcfcfc;
    text-align: center;
}

.main-content h2 {
    padding: 1.5em 0 1em;
}

.box {
    padding: 1.25em 0;
}

.box p {
    padding: 0 2em;
}

.box-img {
    width: 100%;
}

/* Contact Section --------------- */

.contact {
    text-align: center;
    margin: 1em;
    padding: 2.5em 0;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.contact a {
    font-weight: 600;
    padding: .5em;
}

.contact h2 {
    padding-bottom: 1em;
}

.contact p {
    padding: .5em 0;
}

/* Footer ------------------ */

.footer-section {
    margin: 1em;
    position: relative;
    height: 60px;
    /* border: 1px solid red; */
}

footer h3 {
    position: absolute;
    /* border: 1px solid red; */
    padding: 16px 0;
    margin: 0;
    top: 5%;
    left: 1px;
} 

#bottom-nav-btt {
    position: absolute;
    /* border: 1px solid red; */
    padding: 1em 0;
    top: 7%;
    right: 1px;
} 

#bottom-nav-home,
#bottom-nav-portfolio,
#bottom-nav-contact {
    display: none;
}

.bottom-nav {
    text-transform: uppercase;
}

/* Link Styles -------------- */

a:link {
    color: #36ACD0;
    text-decoration: none;
}

a:hover {
    color: #E0AB26;
}

a:visited {
    color:  rgb(141, 101, 240); 
}

a:focus {
    background-color: rgb(213, 199, 250);
}




/* Media Queries ------------ */


/* Tablet ------------------- */

@media (min-width:768px) {





    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}


/* Desktop ------------------- */

@media (min-width:1024px) {




    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}



















