* {
    box-sizing: border-box;
    /* border: 1px solid red; */
} 

/* General Styles ------------- */

body {
    font-family: 'Open Sans', arial, sans-serif;
    color: #696969;
    background-color: rgb(243, 243, 243);
    margin-top: 0;
}

h1, h2, h3 {
    font-family: 'Noto Sans', 'Open Sans', sans-serif;
}

h1 {
    color: #484848;
    padding: 0 0 .6em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
} 

h2, h3 {
    color: #606060;
}

h3 {
    padding-top: 1em;
}

p {
    line-height: 1.65;
    font-size: 1.2em;
}

/* Header section ----------------*/

.primary-header {
    margin: auto; 
    text-align: center;
    padding: 1em;
}

.intro-para {
    font-size: 1.25em;
    line-height: 1.5;
}

.profile-img {
    padding: 4em 0 1em;
    width: 350px;
}

.top-nav a {
    display: block;
    padding: 1em;
    background-color: #fcfcfc;
    margin: .25em 0;
    text-transform: uppercase;
    font-weight: 700;
}

/* nav a:last-child {
    margin-bottom: .8em;
} */

/* Main Content -----------------*/

.main-content {
    padding: .5em;
    background-color: #fcfcfc;
    text-align: center;
}

.main-content h2 {
    padding: 1.5em 0 1em;
}

.box {
    padding: 1.25em 0;
}

.box p {
    padding: 0 2em;
}

.box-img {
    width: 100%;
}

/* Skills Section --------------- */

.skills {
    padding: 2.5em 1em;
    background-color: rgb(223, 239, 253);
    text-align: center;
}

.skills h2 {
    padding-bottom: 1em;
}


/* Contact Section --------------- */

.contact {
    text-align: center;
    margin: 0 1em 1em;
    padding: 2.5em 0;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.contact a {
    font-weight: 600;
    padding: .5em;
}

.contact h2 {
    padding-bottom: 1em;
}

.contact p {
    padding: .5em 0;
}

/* Footer ------------------ */

.footer-section {
    margin: 1em;
    position: relative;
    height: 60px;
}

footer h3 {
    position: absolute;
    padding: 16px 0;
    margin: 0;
    top: 5%;
    left: 1px;
} 

#bottom-nav-btt {
    position: absolute;
    padding: 1em 0;
    top: 7%;
    right: 1px;
} 

#bottom-nav-home,
#bottom-nav-portfolio,
#bottom-nav-skills,
#bottom-nav-contact {
    display: none;
}

.bottom-nav {
    text-transform: uppercase;
}

/* Link Styles -------------- */

a:link {
    color: #36ACD0;
    text-decoration: none;
}

a:hover {
    color: #E0AB26;
}

a:visited {
    color:  rgb(141, 101, 240); 
}

a:focus {
    background-color: rgb(213, 199, 250);
}


/* Media Queries -------------- */


/* Tablet --------------------- */

@media (min-width:768px) {

    /* Top nav for tablet ---------------- */
    
    .top-nav {
       margin: auto; 
    }
    
    .top-nav a {
        display: inline-block;
        background-color:rgb(243, 243, 243);
        padding-bottom: 3em;
    }

    .primary-header h1 {
        padding: 0;
        margin-bottom: .2em;
    }

    /* Profile image float - for tablet and desktop */

    .profile-img {
        float:right;
        width: 40%;
        margin-top: 1.25em;
        padding: 0 1em 3em 0;
    }

    .intro-para {
        float: left;
        width: 60%;
        padding: 0 1em;
        text-align: left;
    }
    
    /* Footer nav - for tablet and desktop */

    #bottom-nav-btt {
        display: none;
    }

    #bottom-nav-home,
    #bottom-nav-portfolio,
    #bottom-nav-skills,
    #bottom-nav-contact {
        display: inline;
        float: right;
        padding: 1.25em;
    }  
    
    footer h3 {
        padding-left: 1em;    
    }

    /* Main content floats ----------- */


    /* Clear fix for floats ---------- */

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}


/* Desktop ------------------- */

@media (min-width:1024px) {

    /* Top nav for desktop ---------------- */

    .primary-header h1 {
        float: left;
        width: 60%;
        text-align: left;
    }
    
    .top-nav a {
        float: left;
        background-color:rgb(243, 243, 243);
        padding-bottom: 3em;
    }

     /* Clear fix for float */

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}



















